{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * MJML plugin for Craft CMS 3.x
 *
 * MJML Settings.twig
 *
 * @author    Superbig
 * @copyright Copyright (c) 2018 Superbig
 * @link      https://superbig.co
 * @package   MJML
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<h2>MJML API</h2>

{{ forms.autosuggestField({
    label: 'API App ID',
    instructions: 'Enter the app id received by email',
    id: 'appId',
    name: 'appId',
    value: settings['appId'] ?? null,
    suggestEnvVars: true,
    errors: settings.getErrors('appId'),
})
}}

{{ forms.autosuggestField({
    label: 'API Secret Key',
    instructions: 'Enter the secret key received by email',
    id: 'secretKey',
    name: 'secretKey',
    value: settings['secretKey'] ?? null,
    suggestEnvVars: true,
    errors: settings.getErrors('secretKey'),
})
}}

<h2>MJML local CLI</h2>

{{ forms.autosuggestField({
    label: 'Node.js Path',
    instructions: 'Enter the path to where the your version of Node.js is located, i.e. `/usr/local/bin/node`',
    id: 'nodePath',
    name: 'nodePath',
    suggestEnvVars: true,
    errors: settings.getErrors('nodePath'),
    value: settings.nodePath,
})
}}

{{ forms.autosuggestField({
    label: 'MJML CLI Path',
    instructions: 'Enter the path to where the MJML CLI installed with npm is located, i.e. `/usr/local/bin/mjml`',
    id: 'mjmlCliPath',
    name: 'mjmlCliPath',
    suggestEnvVars: true,
    errors: settings.getErrors('mjmlCliPath'),
    value: settings.mjmlCliPath,
})
}}

{{ forms.autosuggestField({
    label: 'MJML CLI Config Arguments',
    instructions: 'Enter the (optional) MJML CLI config arguments, e.g. `--config.minify true`',
    id: 'mjmlCliConfigArgs',
    name: 'mjmlCliConfigArgs',
    suggestEnvVars: true,
    errors: settings.getErrors('mjmlCliConfigArgs'),
    value: settings['mjmlCliConfigArgs'] ?? null,
})
}}
